*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{

   display: grid;
   grid-template-columns:560px 320px 560px;
   grid-template-rows:410.4px 410.4px ;
   text-align: center ;
   color: white;
}
.verde{
 background-color: greenyellow;
}

.naranja{
    background-color: orange;
}

.naranja-oscuro{
    background-color: orangered;
}
.rojo{
    background-color: red;
}
.azul{
    background-color: blue;
}
.amarillo{
    background-color: yellow;
}