*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.header{
    display: grid;
    grid-template-columns: [x0] 1fr [x1] 1fr [x2] 1fr [x3] 1fr [x4];
    grid-template-rows: [y0] 1fr [y1] 1fr [y2] 1fr [y3] 1fr [y4] ;
}
.contenido{
    grid-column: x0 / x4;
    grid-row: y0 / y1;
    background-color: black;
    font-size: xx-large;
    color: wheat;
    text-align: center;
    height: 10vh;
    
}